
html {

    font-size: 62.5%;
    font-family: "Fira Sans";
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.4rem;
}

h1 {
    font-size: 2.4rem;
}

ul {
    padding: 0;
    list-style: none;
}

strong {
    font-weight: 700;
}

/* NAVBAR */

.navbar {
    padding: 2rem;
    margin: 0;
    display: flex;
    position: relative;
    background: #111;
}

.navbar-left, .navbar-right {
    display: flex;
}

.navbar-right {
    position: absolute;
    right: 1rem;
}

.navbar li {
    list-style: none;
    margin-right: 1.5rem;
    color: #
    ;
}

.navbar a {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
}

/* LOG IN FORM */

.loginForm, .form-centered {
    width: 30%;
    margin: 0 auto;
}

.newpostForm {
    width: 50%;
}

.searchbar-wrapper {
    display: flex;
    margin: 10px;
}

.searchbar-wrapper input {

}

.searchbar-wrapper input[type="submit"] {

}

.form-centered label {
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 700;
}

.form-centered label:first-child {
    margin: 1rem 0 1rem 0;
}

.form-centered h1 {
    margin: 3rem 0;
    padding: 1rem 2rem;
    border-radius: .3rem;

    background: #111;
    color: #fff;
}

.form-centered input, .form-centered label, .form-centered textarea {
    display: block;
    min-width: 94.5%;
    max-width: 94.5%;
}

.form-centered input, .form-centered textarea {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid #333;

    font-size: 1.6rem;
}

.form-centered textarea {
    font-family: "Fira Sans";
}

.form-centered input[type="submit"] {
    min-width: 30%;
    background: #111;
    border: none;
    color: #FFF;
}

.form-centered input:focus, form textarea:focus {
    border: 1px solid #4CAF50;
}

.form-element {
    margin-top: 3rem;
}


/*** POST ***/

.post {
    border-bottom: 2px solid #111;
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
    max-width: 50%;
}

.post-title  {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 2.6rem;
}

/*** FOOTER ***/

footer {
    margin-top: 100px;
    background: #111;
    color: #fff;
    padding: 1rem 0;
}
